{% extends "calculator/base.html" %}

{% block content %}
<h2>Confirmar Exclusão</h2>
<p>Você tem certeza que deseja deletar a tubulação "<strong>{{ object }}</strong>"?</p>
<p class="text-danger">Esta ação não pode ser desfeita e irá deletar todos os comprimentos equivalentes associados a esta tubulação.</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
    <a href="{% url 'calculator:tubulacao_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}