<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        
        <a class="navbar-brand" href="{% url 'calculadora' %}">
            <i class="bi bi-calculator-fill"></i>
            <strong>RecalqueCalc</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'calculadora' %}">Calculadora</a>
                </li>
                    {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_list' %}">Meus Projetos</a>
                </li>
                {% endif %}
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catálogos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'material_list' %}">Materiais</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'peca_list' %}">Peças</a></li>
                        <li><a class="dropdown-item" href="{% url 'tubulacao_list' %}">Tubulações</a></li>
                        <li><a class="dropdown-item" href="{% url 'leq_list' %}">Comprimentos Equivalentes</a></li>
                    </ul>
                </li>
            </ul>

            <div class="d-flex">
                {% if user.is_authenticated %}
                    <span class="navbar-text me-3">
                        Olá, <strong>{{ user.username }}</strong>!
                    </span>
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary btn-sm">Sair</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>